# === Project Data ===
data/
temp/
tests/
logs/

# === Python Environment ===
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# === IDE & Local Tooling ===
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==== temp folder
temp/
# ==== dbt Credentials ====
# Ignore the profiles file if it's ever placed in the root or a subfolder
profiles.yml
.dbt/