# pip install -r requirements.txt

# ETL + DB connections
snowflake-connector-python[pandas]==3.1.1  # adjust version if needed

# Testing
pytest==8.3.2
great-expectations==1.34.0

# dbt (pick adapter if needed)
dbt-core==1.8.0
dbt-postgres==1.8.0  # or dbt-snowflake if using Snowflake

# Optional extras
pandas==2.1.1

